# Individual Project 2
---
**Author**: Clayton Catanzarite  
**Version**: 1.0  
**Semester**: Spring 2021  
**Summary**:  

This is the second project for my DS-160 class. The goal of this project is to manipulate and analyze data using the features/functions provided by the Python Pandas library
# Import Packages

In [129]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# Pandas features and functions

### Read the weather_2012.csv file into a dataset

In [130]:
df = pd.read_csv('weather_2012.csv')

### Display first 5 rows of dataset, last 5 rows of data set and a sample of 5 random rows from the dataset

In [131]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [132]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [133]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
1854,2012-03-18 06:00:00,3.6,2.6,93,7,24.1,101.72,Clear
3015,2012-05-05 15:00:00,15.4,-1.0,32,6,48.3,101.55,Mainly Clear
7895,2012-11-24 23:00:00,-2.1,-8.8,60,32,25.0,100.00,Mostly Cloudy
1055,2012-02-13 23:00:00,-10.8,-14.8,72,19,25.0,100.80,Cloudy
5064,2012-07-30 00:00:00,21.9,17.6,77,0,25.0,101.17,Mainly Clear

### Display a list of all the columns of the dataset

In [134]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### Changing column names

In [135]:
originalColumnNames = df.columns
df.columns = ['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

### Standard Statistics for each column

In [136]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### Creating a temp_f column

In [137]:
temp_f = []
columnCopy = df.temp_c
for i in range(len(df.temp_c)):
    temp = df.temp_c[i] * (9/5) + 32
    temp_f.append(temp)
df['temp_f']=temp_f

### Rearrange the columns so temp_f comes right before temp_c

In [138]:
tempColumn = df.temp_f
df.drop('temp_f',axis=1,inplace=True)
df.insert(1,'temp_f',tempColumn)

### Display all the datatypes of all the columns

In [139]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

### Finding the average temperature and putting it into a dataframe

In [146]:
df['month'] = pd.DatetimeIndex(df['date_time']).month
monthly_avgSeries = df['temp_f'].groupby(df['month']).mean()
monthly_avg = pd.DataFrame(data=monthly_avgSeries)

### Create column index called 'month'

In [147]:
monthindex=['1','2','3','4','5','6','7','8','9','10','11','12']
monthly_avg.insert(1,'month',monthindex)

In [145]:
monthly_avg

          temp_f month
month
1      18.731290     1
2      24.395000     2
3      37.618226     3
4      44.616750     4
5      61.227984     5
6      68.241250     6
7      73.022097     7
8      72.102742     8
9      61.672000     9
10     51.718952    10
11     33.676500    11
12     26.048629    12