# Individual Project 2
---
**Author**: Clayton Catanzarite  
**Version**: 1.0  
**Semester**: Spring 2021  
**Summary**:  

This is the second project for my DS-160 class. The goal of this project is to manipulate and analyze data using the features/functions provided by the Python Pandas library
# Import Packages

In [204]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# Pandas features and functions

### Read the weather_2012.csv file into a dataset

In [205]:
df = pd.read_csv('weather_2012.csv')

### Display first 5 rows of dataset, last 5 rows of data set and a sample of 5 random rows from the dataset

In [206]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [207]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [208]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
703,2012-01-30 07:00:00,-9.8,-16.0,61,15,25.0,101.55,Clear
2983,2012-05-04 07:00:00,13.6,11.7,88,7,4.8,100.70,"Drizzle,Fog"
6427,2012-09-24 19:00:00,13.8,5.6,58,33,25.0,101.05,Mainly Clear
7050,2012-10-20 18:00:00,12.3,7.2,71,19,25.0,100.01,Mainly Clear
8709,2012-12-28 21:00:00,-9.8,-12.5,81,19,25.0,101.36,Mainly Clear

### Display a list of all the columns of the dataset

In [209]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### Changing column names

In [210]:
originalColumnNames = df.columns
df.columns = ['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

### Standard Statistics for each column

In [211]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### Creating a temp_f column

In [212]:
temp_f = []
columnCopy = df.temp_c
for i in range(len(df.temp_c)):
    temp = df.temp_c[i] * (9/5) + 32
    temp_f.append(temp)
df['temp_f']=temp_f

### Rearrange the columns so temp_f comes right before temp_c

In [213]:
tempColumn = df.temp_f
df.drop('temp_f',axis=1,inplace=True)
df.insert(1,'temp_f',tempColumn)

### Display all the datatypes of all the columns

In [214]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

### Finding the average temperature and putting it into a dataframe

In [215]:
df['month'] = pd.DatetimeIndex(df['date_time']).month
monthly_avgSeries = df['temp_f'].groupby(df['month']).mean()
monthly_avg = pd.DataFrame(data=monthly_avgSeries)
df.drop('month',axis=1,inplace=True)
monthly_avg

          temp_f
month
1      18.731290
2      24.395000
3      37.618226
4      44.616750
5      61.227984
6      68.241250
7      73.022097
8      72.102742
9      61.672000
10     51.718952
11     33.676500
12     26.048629

### Create column index called 'month'

In [216]:
monthly_avg['month']=monthly_avg.index
monthly_avg

          temp_f  month
month
1      18.731290      1
2      24.395000      2
3      37.618226      3
4      44.616750      4
5      61.227984      5
6      68.241250      6
7      73.022097      7
8      72.102742      8
9      61.672000      9
10     51.718952     10
11     33.676500     11
12     26.048629     12

### Switch the order of 'temp_f' and 'month' columns

In [217]:
monthly_avg.columns

Index(['temp_f', 'month'], dtype='object')

In [218]:
temporary_month = monthly_avg.month
monthly_avg.drop('month',axis=1,inplace=True)
monthly_avg.insert(0,'month',temporary_month)
monthly_avg

       month     temp_f
month
1          1  18.731290
2          2  24.395000
3          3  37.618226
4          4  44.616750
5          5  61.227984
6          6  68.241250
7          7  73.022097
8          8  72.102742
9          9  61.672000
10        10  51.718952
11        11  33.676500
12        12  26.048629

### Rename the monthly_avg index

In [219]:
monthly_avg.rename_axis('',inplace=True)
monthly_avg

    month     temp_f

1       1  18.731290
2       2  24.395000
3       3  37.618226
4       4  44.616750
5       5  61.227984
6       6  68.241250
7       7  73.022097
8       8  72.102742
9       9  61.672000
10     10  51.718952
11     11  33.676500
12     12  26.048629

### Change each entry in monthly entry so it shows the name of the month\

In [220]:
monthDict = {
    1:"January",
    2:"Febuary",
    3:"March",
    4:"April",
    5:"May",
    6:"June",
    7:"July",
    8:"August",
    9:"September",
    10:"October",
    11:"November",
    12:"December"
}

def renameMonth(monthDate):
    return monthDict.get(monthDate)

for x in monthly_avg['month']:
    monthly_avg['month'].replace({x:renameMonth(x)}, inplace=True)

In [221]:
monthly_avg

        month     temp_f

1     January  18.731290
2     Febuary  24.395000
3       March  37.618226
4       April  44.616750
5         May  61.227984
6        June  68.241250
7        July  73.022097
8      August  72.102742
9   September  61.672000
10    October  51.718952
11   November  33.676500
12   December  26.048629

### Finding the average temperature of each hour

In [222]:
df['hour'] = pd.DatetimeIndex(df['date_time']).hour
hourly_avg = df['temp_f'].groupby(df['hour']).mean()
df.drop('hour',axis=1,inplace=True)
hourly_avg

hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

### Rename 'hour' index to 'Hour '

In [225]:
hourly_avg.rename_axis('Hour',inplace=True)
hourly_avg

Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

### Change each entry in hour index so it shows the hourly different

In [244]:
hourDict = {
    0:"12:00AM",
    1:"1:00AM",
    2:"2:00AM",
    3:"3:00AM",
    4:"4:00AM",
    5:"5:00AM",
    6:"6:00AM",
    7:"7:00AM",
    8:"8:00AM",
    9:"9:00AM",
    10:"10:00AM",
    11:"11:00AM",
    12:"12:00PM",
    13:"1:00PM",
    14:"2:00PM",
    15:"3:00PM",
    16:"4:00PM",
    17:"5:00PM",
    18:"6:00PM",
    19:"7:00PM",
    20:"8:00PM",
    21:"9:00PM",
    22:"10:00PM",
    23:"11:00PM"
}

def renameHour(hour):
    return hourDict[hour]

newindex=[]

for x in hourly_avg:
    hourtime=hourly_avg.index.astype('int')
    newindex.append(renameHour(hourtime))

TypeError: unhashable type: 'Int64Index'